@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fffefe;
  --primary-color: rgb(59, 67, 88);
  --primary-text-color:#ffffff ;
  --secondary-color: #59e280;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}


nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Fifth section */

.column-2a {
  float: left;
  width: 45%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  padding-bottom:60px;
  height:450px;
  margin:30px;
  margin-right:30px;
  margin-bottom: 40px;
  background-color:white;
}

.experiences {
  max-width: 800.00rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.experiences-wrapper a{
  align-items: center;
}

.experiences-header {
  margin-bottom: 1rem;
}

.experiences-wrapper  {
  padding: 1.25rem;
  
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.experiences .experiences-header{
  padding-bottom: 10px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  border: 0px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(odd) {
  background-color: #f7f1f1;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color:black;
}

.fa-github {

  color: black;
}

.fa-twitter {
 
  color:black;
}

.fa-linkedin {
  color: black;
}

.fa-youtube {
  color: black;
}

.fa-instagram {
  color: black;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color:black;
}

.fa-github {

  color: black;
}

.fa-twitter {
 
  color:black;
}

.fa-linkedin {
  color: black;
}

.fa-youtube {
  color: black;
}

.fa-instagram {
  color: black;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  padding-top: 1in;
}